<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PerfumeriaRaul.Properties.Settings.DB_Local_ImagesConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ProjectDataBases\SqlData\LocalImages\LocalImagesDB\DB_Local_Images.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PerfumeriaRaul.Properties.Settings.projectdbConnectionString"
            connectionString="server=infsalinas.sytes.net;user id=root;password=dam1234;port=5306;persistsecurityinfo=True;database=projectdb"
            providerName="MySql.Data.MySqlClient" />
        <add name="PerfumeriaRaul.Properties.Settings.facturaConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ProjectDataBases\SqlData\Facturacion\FacturasDB\factura.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
<!--connectionString="server=localhost;user id=root;password=1234;persistsecurityinfo=True;database=projectdb"-->